{% extends 'main/base.html' %}



{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-deck">
          {% for workshop in workshop_list %}
            <div class="card text-center" style="width: 20rem;">
              <h4 class="card-header">{{ workshop.title }}</h4>
              <div class="card-body">
                <p class="card-text">{{ workshop.detail }}</p>
                <a class="btn btn-primary" href="{% url 'ws:detail' workshop.id %}">詳細</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
